<div class="container">
  <h1>Heading 1</h1>
  <h2>Heading 2</h2>
  <h3>Heading 3</h3>
  <h4>Heading 4</h4>
  <h5>Heading 5</h5>
  <h6>Heading 6</h6>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet elit eu diam semper blandit vitae eget
    odio. Vivamus id diam mi. Cras et lectus at lorem venenatis lacinia. Cras elementum odio a egestas viverra. Duis et
    elementum erat. Donec leo risus, posuere vel enim sed, ornare posuere leo. Suspendisse vestibulum molestie dictum.
    Aliquam porttitor arcu sit amet nisl dapibus, at sollicitudin quam lobortis. Nunc in tellus rutrum ipsum rutrum
    tristique. Nulla facilisi. Mauris id facilisis sem. Sed venenatis id purus ac rutrum. In dignissim, libero et mollis
    sollicitudin, eros massa lacinia neque, ac dictum leo lectus et odio. Nulla sodales eros nec tortor maximus, nec
    imperdiet justo congue. Praesent sit amet nisl eu diam laoreet suscipit. Aenean pharetra, sapien in tempus volutpat,
    mauris lectus eleifend dolor, id molestie libero metus sit amet neque.
  </p>
  <p>
    <strong>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean sit amet elit eu diam semper blandit vitae eget
      odio. Vivamus id diam mi. Cras et lectus at lorem venenatis lacinia. Cras elementum odio a egestas viverra. Duis
      et elementum erat. Donec leo risus, posuere vel enim sed, ornare posuere leo. Suspendisse vestibulum molestie
      dictum. Aliquam porttitor arcu sit amet nisl dapibus, at sollicitudin quam lobortis. Nunc in tellus rutrum ipsum
      rutrum tristique. Nulla facilisi. Mauris id facilisis sem. Sed venenatis id purus ac rutrum. In dignissim, libero
      et mollis sollicitudin, eros massa lacinia neque, ac dictum leo lectus et odio. Nulla sodales eros nec tortor
      maximus, nec imperdiet justo congue. Praesent sit amet nisl eu diam laoreet suscipit. Aenean pharetra, sapien in
      tempus volutpat, mauris lectus eleifend dolor, id molestie libero metus sit amet neque.
    </strong>
  </p>
  <hr>
  <button class="btn btn--primary">Button 1</button>
  <button class="btn btn--primary" disabled>Button 1 Disabled</button>
  <hr>
  <button class="btn btn--secondary">Button 2</button>
  <button class="btn btn--secondary" disabled>Button 2 Disabled</button>
  <hr>
  <button class="btn btn--narrow btn--primary">Narrow</button>
  <button class="btn btn--narrow btn--secondary">Narrow</button>
  <hr>
  <button class="btn btn--extra-narrow btn--primary">Narrow</button>
  <button class="btn btn--extra-narrow btn--secondary">Narrow</button>
</div>
